.cart{
    background: rgba(255, 153, 0, 0.3);
    padding: 20px;
    position: sticky;
    top: 0  ;
}

.cart p{
    font-size: 20px !important;
}

.btn-clear-cart{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
    background: #FF3030;
    color: white;
    height: 56px;
    align-items: center;

}