<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="/Layout/layout.css">
</head>
<body>
    <h2>Border ,Background , Height ,Width</h2>

    <div id="pd4">
        Product four
    </div>

    <div class="pd1">
        Product one
    </div>

    <div class="pd1">
        Product two
    </div>
    
    <div id="pd3">
        Product three
    </div>
</body>
</html>